[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
flask="*"
flask-restplus="*"
psycopg2-binary = "*"
sqlalchemy = "*"
werkzeug = "==0.16.1"  # until this issue https://github.com/noirbizarre/flask-restplus/issues/777
pydantic = "*"

[dev-packages]
docker-compose = "*"
pytest="*"
pytest-flask = "*"
requests = "*"

[requires]
python_version = "3.8"
